.markdown {
  @for $h from 1 to 6 {
    h$h {
      font-size: px(typescale(r(10-$h)));
      font-variation-settings: var(--mono), var(--casl), "wght" 800, var(--slnt),
        var(--ital);
      line-height: 1.1em;
    }
  }

  img {
    border-radius: 4px;
  }

  pre {
    border-radius: 4px;
  }

  blockquote {
    border-left: 5px solid var(--c-brand);
    padding: 16px 32px;
    background: var(--c-shadow-aura);
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: 500;
    font-variation-settings: var(--mono), var(--casl), "wght" 600, var(--slnt),
      var(--ital);
  }
}
