
$colors: (
	gray-haze,
	snow-crash,
	shadow-aura,
	terminal-dreams,
	purple-ping,
	relay-red,
	electric-blue,
	hacker-pink,
	brand,
	brand-secondary
);


@each $color in $colors {
	.text\:$color {
		color: var(--c-$color);
	}

	.text\:$color\:dark {
		color: darken(var(--c-$color), 10);
	}

	.text-shadow\:$color {
		text-shadow: 0.02em 0.02em 0.1em var(--c-$color);
	}

	.shadow\:$color {
		box-shadow: 0.02em 0.02em 0.1em var(--c-$color));
	}

	.border\:1\:$color {
		border: 1px solid var(--c-$color);
	}

	.drop-shadow\:$color {
		filter: drop-shadow(0.25rem 0.25rem 0.1em var(--c-$color));
	}

	.text\:$color\:hov:hover {
		color: var(--c-$color);
	}

	.bg\:$color {
		background-color: var(--c-$color);
	}

	.fill\:$color {
		fill: var(--c-$color);
	}

	.fill\:$color\:hover:hover {
		color: var(--c-$color);
	}

	.stroke\:$color {
		stroke: var(--c-$color);
	}

	.dark-mode.d\:bg\:$color {
		background-color: var(--c-$color);
	}

	.dark-mode.d\:text\:$color {
		color: var(--c-$color);
	}

	.dark-mode .d\:text\:$color {
		color: var(--c-$color);
	}

	.dark-mode .d\:bg\:$color {
		background-color: var(--c-$color);
	}

	.dark-mode .d\:fill\:$color {
		fill: var(--c-$color);
	}

	.dark-mode .d\:stroke\:$color {
		stroke: var(--c-$color);
	}
}

.text-gradient\:hacker {
	background: linear-gradient(45deg, var(--c-brand), var(--c-brand-secondary));
	background-size: 100% 100%;

	/* Use the text as a mask for the background. */
	/* This will show the gradient as a text color rather than element bg. */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}
