.flex {
  display: flex;
}

.flex\:column {
  flex-direction: column;
}

.ai\:center {
  align-items: center;
}

.ai\:flex-end {
  align-items: flex-end;
}

.jc\:center {
  justify-content: center;
}

.jc\:flex-end {
  justify-content: flex-end;
}

.jc\:space-around {
  justify-content: space-around;
}

.jc\:space-between {
  justify-content: space-between;
}
