.flex {
  display: flex;
}

.ai\:center {
  align-items: center;
}

.ai\:flex-end {
  align-items: flex-end;
}

.jc\:center {
  justify-content: center;
}

.jc\:flex-end {
  justify-content: flex-end;
}
