.content {
	max-width: 45em;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 60em;
}

.container\:wide {
	margin: 0 auto;
	width: 100%;
	max-width: 72em;
}

.no-decoration {
	text-decoration: none;
}

.maxw\:large {
	max-width: var(--large-width);
}

.heading-wrapper {
	position: relative;
	height: 100%;

	h1 {
		position: relative;
		z-index: 2;
	}
}

.pos\:rel {
	position: relative;
}
