.grid {
  display: grid;
  grid-gap: em(spacing(2));
}

.grid\:center {
  align-items: center;
}

.grid\:auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: em(spacing(2));
}

@for $i from 1 to 12 {
  .grid\:col-$i {
    grid-template-columns: repeat($i, 1fr);
    @media screen and (max-width: 468px) {
      & {
        display: block;
      }
    }
  }

  .grid\:span-$i {
    grid-column: span $i / span $i;
  }
}
