h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--base-font-size);
  line-height: 1.1;
}

body {
  min-height: 100vh;
  font-size: var(--base-font-size);

  @media screen and (max-width: 468px) {
    & {
      font-size: var(--mobile-font-size);
    }
  }
}

.img\:responsive {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.content {
  max-width: 42em;
}

.container {
  width: 100%;
  max-width: 60em;
  margin: 0 auto;
}

a {
  color: var(--c-strawberry);
  text-decoration: underline var(--c-strawberry) solid 2px;
}

.no-decoration {
  text-decoration: none;
}
