:root {
	--c-gray-haze: #d1e2e8;

	--c-snow-crash: #f1f1f1;
	--c-shadow-aura: #0b191f;
	--c-terminal-dreams: #052229;
	--c-purple-ping: #be73ff;
	--c-relay-red: #ff5f5c;
	--c-electric-blue: #73ffff;
	--c-hacker-pink: #ff2c75;

	--c-brand: var(--c-hacker-pink);
	--c-brand-secondary: var(--c-electric-blue);

	--base-font-size: em(typescale(4));
	--mobile-font-size: em(typescale(3));

	--large-width: 1280px;
}

/* --c-strawberry: #da667b; */
