---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Howdy, I'm Wuz"
  description="Tech Lead, Manager, Typescripter"
  pubDate={new Date("August 08 2021")}
  updatedDate={new Date("August 08 2022")}
  heroImage="/me.png"
>
  <h1>Tech Lead, Manager, Typescripter</h1>

  <p>
    Hello, I'm Conlin Durbin, a dedicated Frontend Engineer and Tech Lead Manager 
    with over 9 years of experience in the world of web development. I specialize 
    in crafting exceptional digital experiences using cutting-edge technologies, 
    with a primary focus on TypeScript and React JS. 
  </p>
  <p>
  My journey in the tech industry has been an exciting one, marked by a deep passion for creating performant and accessible front-end solutions. I've been at the forefront of numerous projects, helping teams and businesses leverage the power of web technologies to achieve their goals.
  </p>

<h2>Technical Expertise:</h2>

<ul>
<li><strong>Frontend Champion</strong>: I'm all about crafting beautiful,
responsive, and user-friendly interfaces. With a strong foundation in Typescript
and React JS, I lead teams to build elegant, high-performance web
applications.</li>

<li>
<strong>Full-Stack Experience</strong>: While my primary focus is on the frontend, I'm not a stranger to the full stack. I've worked extensively with Ruby on Rails, enabling me to collaborate seamlessly with backend teams and ensure the holistic success of projects.
</li>
</ul>

<h2>Leadership and Management:</h2>

<p>
As a Tech Lead Manager, I'm passionate about nurturing talent and fostering a collaborative, innovative environment. I've led cross-functional teams to success by combining technical expertise with effective communication and leadership skills.
</p>

<h2>My Approach:</h2>

<ul>
    <li>
      <strong>Accessibility Advocate</strong>: I'm committed to creating digital experiences that are inclusive and accessible to all. Crafting user interfaces that meet the highest accessibility standards is not just a practice; it's a value I uphold.
    </li>

<li>
    <strong>Continuous Learning</strong>: In the ever-evolving tech landscape, I'm a firm believer in staying up-to-date with the latest trends and best practices. This commitment to learning helps me and my teams stay ahead of the curve.
    </li>

<li>
    <strong>User-Centric Philosophy</strong>: I believe in putting the end-user at the center of every project. This ensures that the products I build are not only technically robust but also align with the needs and expectations of the target audience.
    </li>
  </ul>
</Layout>
