---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Howdy, I'm Wuz"
  description="Tech Lead, Manager, Typescripter"
  pubDate={new Date("August 08 2021")}
  updatedDate={new Date("August 08 2022")}
  heroImage="/me.png"
>
  <h1>Tech Lead, Manager, Typescripter</h1>
</Layout>
