---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import logo from "../assets/logo.svg";

---

<header>
  <nav>
    <HeaderLink class="no-active" href="/">
      <img src={logo.src} class="logo" height="50px" width="50px" alt="" />
    </HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://twitter.com/CaffinatedLich" target="_blank">
      Twitter
    </HeaderLink>
    <HeaderLink href="https://bsky.app/profile/lich.dad" target="_blank">
      Bluesky
    </HeaderLink>
    <HeaderLink href="https://github.com/wuz" target="_blank">
      GitHub
    </HeaderLink>
    <HeaderLink href="https://hasbeenwizards.com" target="_blank">
      TTRPG stuff
    </HeaderLink>
  </nav>
</header>
<style>
  header {
    padding: 2em;
    border-right: 1px solid #fff;
  }

  header nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
  }

  @media (prefers-color-scheme: light) {
    .logo {
      filter: invert();
    }
  }
</style>
