---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import logo from "../assets/logo.svg";

---

<header>
  <nav>
    <HeaderLink href="/">
      <img src={logo.src} class="logo" height="50px" width="50px" alt="" />
    </HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://twitter.com/wuz_tweets" target="_blank">
      Twitter
    </HeaderLink>
    <HeaderLink href="https://github.com/wuz" target="_blank">
      GitHub
    </HeaderLink>
  </nav>
</header>
<style>
  header {
    margin: 2em 0 2em;
  }

  header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  
  @media (prefers-color-scheme: light) {
    .logo {
      filter: invert();
    }
  }
</style>
