@for $h from 1 to 6 {
	h$h {
		font-size: var(--base-font-size);
		font-variation-settings: var(--mono), var(--casl), "wght" 500, var(--slnt),
			var(--ital);
		font-weight: 500;
		line-height: 1.1em;
		margin-bottom: 0.5rem;
	}
}


body {
	background: var(--c-background);
	color: var(--c-text);
	min-height: 100vh;
	font-size: var(--base-font-size);

	@media screen and (max-width: 468px) {
		& {
			font-size: var(--mobile-font-size);
		}
	}
}

strong {
	font-variation-settings: var(--mono), var(--casl), 'wght' 800, var(--slnt), var(--ital);
}

[data-responsive] {
	object-fit: cover;
	width: 100%;
	height: auto;
}

a {
	color: var(--link-color);
	text-decoration: underline;
	position: relative;

	&:hover {
		text-decoration: underline var(--link-color) solid 2px;
	}
}

svg {
	fill: currentColor;
}

hr {
	border: none;
	border-bottom: 1px solid var(--c-text);
}

.term {
 &:before {
		content: '> ';
		margin-left: -24px;
    opacity: 0.5;
	}
}
