h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: var(--base-font-size);
	line-height: 1.1;
	margin-bottom: 0.25em;
}

@for $h from 1 to 6 {
	h$h {
		font-variation-settings: var(--mono), var(--casl), "wght" 800, var(--slnt),
			var(--ital);
		line-height: 1.1em;
	}
}


body {
	background: var(--c-background);
	color: var(--c-text);
	min-height: 100vh;
	font-size: var(--base-font-size);

	@media screen and (max-width: 468px) {
		& {
			font-size: var(--mobile-font-size);
		}
	}
}

strong {
	font-variation-settings: var(--mono), var(--casl), 'wght' 800, var(--slnt), var(--ital);
}

[data-responsive] {
	object-fit: cover;
	width: 100%;
	height: auto;
}

a {
	color: var(--link-color);
	text-decoration: none;
	position: relative;

	&:hover {
		text-decoration: underline var(--link-color) solid 2px;
	}
}

svg {
	fill: currentColor;
}

hr {
	border: none;
	border-bottom: 1px solid var(--c-text);
}
