h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--base-font-size);
  line-height: 1.1;
}

body {
  min-height: 100vh;
  font-size: var(--base-font-size);

  @media screen and (max-width: 468px) {
    & {
      font-size: var(--mobile-font-size);
    }
  }
}

[data-responsive] {
  object-fit: cover;
  width: 100%;
  height: auto;
}

a {
  --link-color: var(--c-brand-secondary);
  color: var(--link-color);
  text-decoration: underline var(--link-color) solid 2px;
}

.dark-mode a {
  --link-color: var(--c-brand);
}

svg {
  fill: currentColor;
}
