<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="dns-prefetch" href="https://identity.netlify.com">
    <meta charset="utf-8" />
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/dark-mode.js" async></script>
    <script
      async
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
  </head>
  <body class="font:recursive">
