{% include head.liquid %}
<div
  class="typescale:2 text:night bg:white typescale:5 d:bg:night d:text:white"
  >
  <section class="container padding:2">
    {% include nav.liquid %}
    {{ content }}
  </section>
</div>
</body>
</html>
{% include footer.liquid %}
