<header class="grid grid:col-10 maxw:large padding:3 container:wide">
  <div class="grid:span-7 flex ai:center wght:600">
      <a href="/">wuz.sh</a>
      
  </div>
  <nav class="grid:span-3 flex ai:center jc:flex-end wght:600">
    <a href="/writing" class="margin:1:right">writing</a>
    &mdash;&nbsp;
    <a href="https://kit.co/wuz" class="margin:1:right">kit</a>
    <!-- 
    <div class="color-switch-container">
      <button class="color-switch" aria-label="Toggle Dark Mode">
        <span role="img" aria-label="dark mode">
          🌝
        </span>
        <span role="img" aria-label="light mode">
          🌞
        </span>
      </button>
    </div>
    -->
  </nav>
</header>
