<header class="grid grid:col-10 maxw:large padding:3 container:wide">
  <nav class="grid:span-4 flex ai:center jc:flex-end wght:600">
    <a href="https://kit.co/wuz" class="margin:1:right">kit</a>
    &mdash;&nbsp;
    <a href="/copy" class="margin:1:right">[CC BY-SA 4.0]</a>
  </nav>
</header>
