{% include "./head.njk" %}
{% include "./nav.njk" %}
<div class="typescale:2">
  <section class="container padding:2">
    <main class="content">
      {% if cover_image != "" %}
      <img data-responsive src="{{ cover_image }}" />
      {% endif %}
      <h1 class="typescale:6 wght:800 bdr:rainbow:bottom hack">{{ title | safe  }}</h1>
      <h2 class="typescale:5 text:stone wght:500 margin:2:top">
        {{ description | safe }}
      </h2>
      <h3 class="alert alert:info wght:600 bg:purple-ping text:black">
        <section class="alert:icon">{{stage | garden_stage_icon }}</section>
        {{ stage | garden_stage }}
      </h3>
      <article class="markdown">
        {{ content | safe }}
      </article>
    </main>
  </section>
</div>

{% include "./footer.njk" %}
