{% include head.liquid %}
<div
  class="typescale:2 text:night bg:white typescale:5 d:bg:night d:text:white"
>
  <section class="container padding:2">
    {% include nav.liquid %}
    <main class="content">
      {% if cover_image != "" %}
      <img data-responsive src="{{ cover_image }}" />
      {% endif %}
      <h1 class="typescale:12 wght:800 bdr:rainbow:bottom">{{ title }}</h1>
      <h2 class="typescale:9 text:stone wght:500 margin:2:top">
        {{ description }}
      </h2>
      <article class="markdown">
        {{ content }}
      </article>
    </main>
  </section>
</div>

{% include footer.liquid %}
