---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .page {
        width: 100vw;
        height: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 200px 1fr;
        margin: 0 auto;
      }

      .page > section > main {
        flex: 1 1 auto;
        padding: 5em;
      }
    </style>
  </head>

  <body>
    <div class="page">
      <Header title={title} />
      <section>
        <main class="flow">
          <slot />
        </main>
        <Footer />
      </section>
    </div>
    <svg>
      <filter id="noiseFilter">
        <feTurbulence
          type="fractalNoise"
          baseFrequency="0.6"
          stitchTiles="stitch"></feTurbulence>
      </filter>
    </svg>

    <svg>
      <filter id="noiseFilter2">
        <feTurbulence
          type="fractalNoise"
          baseFrequency="0.6"
          stitchTiles="stitch"></feTurbulence>
      </filter>
    </svg>
  </body>
</html>
