.o\:post {
  display: grid;
  grid-template-rows: 20px 120px 2fr 20px;
  height: 250px;

  & h1 {
    margin: 10px 0;
    justify-self: stretch;
    align-self: flex-end;
  }

  & a {
    align-self: flex-end;
    justify-self: end;
    height: 20px;
  }
}
